// FOOTER::START
footer.footer
  .container
    .row.row--alignCenter.row--end--desktop
      .col.col--1-6.hidden-desktop-down
        a(href="#").header__logo
          i.ico.ico-logo
      .col.col--4-6.hidden-desktop-down
        .footer__navi
          a(href='#') О компании
          a(href='#') Партнёрам
          a(href='#') Юридическая информация
          a(href='#') Оферта
          a(href='#') Конфиденциальность
      .col.col--1-6.col--full--desktop
        .footer__socials
          .footer__socials__title.hidden-desktop-down Следуй за нами!
          a(href="#")
            i.ico.ico-instagram
          a(href="#")
            i.ico.ico-vk
          a(href="#")
            i.ico.ico-fb
    .row
      .col.col--full
        .footer__copy ©2017 Mebius.ru



// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/owl.carousel/dist/owl.carousel.min.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="components/air-datepicker/dist/js/datepicker.min.js")
script(src="components/tether/dist/js/tether.min.js")
script(src="js/libs/bootstrap-tooltip.js")
script(src="js/main.js")
//endbuild
