// UI

.ui-input
  display: block
  width: 100%
  background: white
  border-radius: 6px
  border: 1px solid #e1d1b4
  margin-bottom: 10px
  padding: 8px 12px

  &:focus
    outline: none

  ::placeholder
    color: #8e8e8e
