doctype html
html
  include shared/head.pug

  body
    .page
      include shared/header.pug
      .page__content
        // INTRO
        .intro
          .container
            .row.row--wrap--desktop
              .col.col--full
                .intro__title Наш блог: все самое акуальное и интересное
                .intro__text По желанию мы можем также организовать такую игру с выездом игротехника: так вы сможете переложить все организационные хлопоты на профессионалов. Ведущий квеста разогреет участников, проведёт инструктаж и настроит всех на игру, а в конце участников ждут небольшие приятные призы.

        // BLOG
        .blog.mt80.mt20--mobile
          .container
            // card
            .row.row--condenced.quest-card
              .col.col--2-6
                a(href='#modalBlog1').quest-card__image
                  img(src="images/son1-square@2x.png")
              .col.col--4-6
                .quest-card__content
                  a(href='#modalBlog1').quest-card__name У нас появился новый квест! Юххууу!
                  .quest-card__desc Сегодня вечером должна открыться выставка, на которой картину знаменитого абстракциониста впервые представят широкой публике. Всё готово к открытию, вот только сама картина пропала! <br> Полиция в замешательстве, работники художественной галереи в панике. Раскройте преступление, найдите преступника и спасите выставку. <br> Всё готово к открытию, вот только сама картина пропала!
                  .quest-card__cta
                    .quest-card__cta__price
                      span 25 сентября 2016
                    .quest-card__cta__more.visible--desktop
                      a(href='#modalBlog1') Подрбнее
            // card
            .row.row--condenced.quest-card
              .col.col--2-6
                a(href='#modalBlog2').quest-card__image
                  img(src="images/son2-square@2x.png")
              .col.col--4-6
                .quest-card__content
                  a(href='#modalBlog2').quest-card__name Ты всего один, но хочешь пройти квест? Тебе к нам!
                  .quest-card__desc Сегодня вечером должна открыться выставка, на которой картину знаменитого абстракциониста впервые представят широкой публике. Всё готово к открытию, вот только сама картина пропала! <br> Полиция в замешательстве, работники художественной галереи в панике. Раскройте преступление, найдите преступника и спасите выставку. <br> Всё готово к открытию, вот только сама картина пропала!
                  .quest-card__cta
                    .quest-card__cta__price
                      span 25 сентября 2016
                    .quest-card__cta__more.visible--desktop
                      a(href='#modalBlog2') Подрбнее
            // card
            .row.row--condenced.quest-card
              .col.col--2-6
                a(href='#modalBlog3').quest-card__image
                  img(src="images/son3-square@2x.png")
              .col.col--4-6
                .quest-card__content
                  a(href='#modalBlog3').quest-card__name У нас день рождения!
                  .quest-card__desc Сегодня вечером должна открыться выставка, на которой картину знаменитого абстракциониста впервые представят широкой публике. Всё готово к открытию, вот только сама картина пропала! <br> Полиция в замешательстве, работники художественной галереи в панике. Раскройте преступление, найдите преступника и спасите выставку. <br> Всё готово к открытию, вот только сама картина пропала!
                  .quest-card__cta
                    .quest-card__cta__price
                      span 25 сентября 2016
                    .quest-card__cta__more.visible--desktop
                      a(href='#modalBlog3') Подрбнее

      include shared/footer.pug

      // MODAL SECTION
      .modal.modal--offset-top#modalBlog1(data-blognav='1')
        .modal__wrapper
          .container
            .row
              .col.col--4-6.col--auto--desktop.col--grow--desktop.offset--1-6.offset--10--desktop.no-pad
                .modal__content
                  .modal__close
                    i.ico.ico-close
                  .modal__scrollable-area
                    .modal__datetime 25 сентября 2016
                    .modal__heading У нас появился новый квест! Юхуу!
                    img(src="images/son1@2x.png")
                    p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.
                    p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону
                  .modal__footer
                    a(href="#" data-blognav='0').inactive
                      i.ico.ico-prev
                      span предыдущая запись
                    a(href="#" data-blognav='2')
                      span следующая запись
                      i.ico.ico-next

      // modal blog post
      .modal.modal--offset-top#modalBlog2(data-blognav='2')
        .modal__wrapper
          .container
            .row
              .col.col--4-6.col--auto--desktop.col--grow--desktop.offset--1-6.offset--10--desktop.no-pad
                .modal__content
                  .modal__close
                    i.ico.ico-close
                  .modal__scrollable-area
                    .modal__datetime 25 сентября 2016
                    .modal__heading Ты всего один, но хочешь пройти квест? Тебе к нам!
                    img(src="images/son1@2x.png")
                    p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.
                    p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону
                  .modal__footer
                    a(href="#" data-blognav='1')
                      i.ico.ico-prev
                      span предыдущая запись
                    a(href="#" data-blognav='3')
                      span следующая запись
                      i.ico.ico-next

      // modal blog post
      .modal.modal--offset-top#modalBlog3(data-blognav='3')
        .modal__wrapper
          .container
            .row
              .col.col--4-6.col--auto--desktop.col--grow--desktop.offset--1-6.offset--10--desktop.no-pad
                .modal__content
                  .modal__close
                    i.ico.ico-close
                  .modal__scrollable-area
                    .modal__datetime 25 сентября 2016
                    .modal__heading У нас день рождения!
                    img(src="images/son1@2x.png")
                    p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.
                    p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону
                  .modal__footer
                    a(href="#" data-blognav='2')
                      i.ico.ico-prev
                      span предыдущая запись
                    a(href="#" data-blognav='4').inactive
                      span следующая запись
                      i.ico.ico-next
