doctype html
html
  include shared/head.pug

  body
    .page
      include shared/header.pug
      .page__content.profile-bottom-bg
        // Profile
        .profile
          .container
            .row
              .profile__game__achived.profile__game__achived--cat(data-toggle="tooltip" data-placement="right" title="Планета Плутон перестала считаться планетой в 2006 году, но в некоторых штатах США по закону до сих пор является планетой")
              .profile__game__achived.profile__game__achived--car(data-toggle="tooltip" data-placement="top" data-html="true" title="Выживший <br> Вы не смогли помочь заражённым, но покинули город и остались в живых.")
              .profile__game__achived.profile__game__achived--candle(data-toggle="tooltip" data-placement="top" data-html="true" title="Выживший <br> Вы не смогли помочь заражённым, но покинули город и остались в живых.")

              .profile__game__house.profile__game__house--abservotoria
              .profile__game__house.profile__game__house--gallery
              .profile__game__house.profile__game__house--green

              .col.col--2-6.no-pad-r.col--310--desktop.col--full--mobile
                .profile__scope
                  .profile__scope__left
                    .profile__scope__image
                      img(src="images/profilePic.png")
                    .profile__scope__name Каролина
                    .profile__scope__rate
                      span Накоплено 12
                      i.ico.ico-pulp
                    .profile__scope__next-left Ещё 11 до бесплатного квеста!
                  .profile__scope__right
                    a(href='#').btn.btn--primary.btn--darker.btn--block Профиль
                    a(href='#').btn.btn--primary.btn--darker.btn--block.active Мои игры
                    a(href='#').btn.btn--primary.btn--darker.btn--block Тюториал



      include shared/footer.pug
