doctype html
html
  include shared/head-gaming.pug

  body
    .container
      .gaming.center
        .gaming__title.gaming__title--quests Выберите игру
        .gaming__link 
          a(href="#") Пройти тестовую игру
        .gaming__quests
          // quest
          .gaming__quest
            .gaming__quest__image
              img(src="images/gaming/questImg.png")
            .gaming__quest__title Большой квест: «Путешествие»
            .gaming__quest__date 27 сентября в 19:30
            .gaming__quest__action 
              .gaming__quest__location
                i.ico.ico-location 
                span метро Полянка (выход к ул. Блаблаблаева)
              .gaming__quest__link
                a(href='#') УЧАСТВОВАТЬ
                
          // quest
          .gaming__quest
            .gaming__quest__image
              img(src="http://dev.5ft.ru/images/quest/Обложка.jpg")
            .gaming__quest__title Спасти мяуса
            .gaming__quest__action 
              .gaming__quest__location
                i.ico.ico-location 
                span метро Полянка (выход к ул. Блаблаблаева)
              .gaming__quest__link
                a(href='#') Пройти
                
          // quest
          .gaming__quest.gaming__quest--disabled
            .gaming__quest__image
              img(src="images/gaming/questImg.png")
            .gaming__quest__title Спасти мяуса
            .gaming__quest__action 
              .gaming__quest__location
                i.ico.ico-location 
                span метро Полянка (выход к ул. Блаблаблаева)
              .gaming__quest__link
                a(href='#') купить
                
                
    include shared/footer-gaming.pug
    
          
    
