doctype html
html
  include shared/head-gaming.pug

  body
    .container
      .gaming.center
        .gaming__logo
          i.ico.ico-location-dark.ico-location-dark-2x
        .gaming__title.gaming__title--bigger Нужный адрес
        .gaming__title Игра «Привет с Бетельгейзе» вот тут располагается 
        .gaming__button
          a(href='#').btn.btn--primary Ок
    
    include shared/footer-gaming.pug
    
          
    
