doctype html
html
  include shared/head.pug

  body
    .page
      // HEADER::START
      header.header.header--float
        .container
          .row.row--alignCenter
            .col.col--1-6.col--auto--desktop.col--grow--desktop
              a(href="homepage.html").header__logo
                i.ico.ico-logo
            .col.col--2-6.hidden-desktop-down
              .header__navi
                a(href="#") Как это работает?
                a(href="blog.html") Блог
                a(href="contact.html") Контакты
            .col.col--3-6.col--auto--desktop.col--grow--desktop
              .header__contacts
                a(href="#modalQuestion").header__question.hidden-desktop-down
                  i.ico.ico-help
                  span Задать вопрос
                a(href="tel:8912000000").header__tel
                  span с 10 до 21
                    span + 7 912 000 00 00
                a(href="#").header__cabinet
                  i.ico.ico-cabinet
                  span Личный кабинет
                .visible-desktop-down.inline
                  button.hamburger.hamburger--stand(type='button')#headerHamburger
                    span.hamburger-box
                      span.hamburger-inner

      navi.navi.hidden-desktop-down.navi--float
        .container
          .row.row--jcsb
            .col.col--full
              .navi__list
                a(href="games.html") ИГРЫ
                a(href="big-games.html") БОЛЬШИЕ ИГРЫ
                a(href="#") квесты для групп
                a(href="testimonials.html") ОТЗЫВЫ
                a(href="bonus.html")
                  i.ico.ico-gift
                  span В ПОДАРОК
                a(href="promos.html").active АКЦИИ

      navi.navi-mobile
        .navi-mobile__wrapper
          .navi-mobile__logo
            a(href="homepage.html").header__logo
              i.ico.ico-logo
          .navi-mobile__menu
            a(href="games.html")
              span ИГРЫ
            a(href="big-games.html")
              span БОЛЬШИЕ ИГРЫ
            a(href="#")
              span квесты для групп
            a(href="testimonials.html")
              span ОТЗЫВЫ
            a(href="bonus.html")
              span
                span В ПОДАРОК
                i.ico.ico-gift
            a(href="promos.html").active
              span АКЦИИ
          .navi-mobile__additional
            a(href="#") Как это работает?
            a(href="blog.html") Блог
            a(href="contact.html") Контакты
          .navi-mobile__question
            a(href="#modalQuestion").header__question
              i.ico.ico-help
              span Задать вопрос

      .modal.modal--cover#modalQuestion
        .modal__wrapper
          .container
            .row
              .col.col--4-6.col--auto--desktop.col--grow--desktop.offset--1-6.offset--10--desktop.no-pad
                .modal__content
                  .modal__close
                    i.ico.ico-close
                  .modal__scrollable-area
                    .question__title Что-то до сих пор осталось непонятным? <br> Задайте свой вопрос!
                    form(action="").question__form
                      textarea.ui-input(placeholder="ВАШ ВОПРОС" rows="7")
                      input(type="text" placeholder="Ваше имя").ui-input
                      input(type="email" name="email" placeholder="Email").ui-input
                      a(href="#").btn.btn--primary.btn--block.btn--no-skew-hover ОТПРАВИТЬ

      .page__content
        // HERO
        .hero.hero--mainpage
          .container
            .row
              .col.col--full
                .hero__content-wrap
                  .hero__title приключения начинаются <br> прямо здесь
                  a(href="#sectionIntro").hidden-desktop-down
                    i.ico.ico-down
        // HEADING
        .heading#sectionIntro
          .container
            .row
              .col.col--full
                .heading__front История, исход которой зависит только от вас!
                .heading__desc Каждая игра — это детально проработанный сюжет, разноплановые персонажи, судьбоносные решения и оригинальные загадки. <br> Для прохождения требуются 2-3 часа свободного времени, смартфон и немного воображения

        // ICON LIST
        .icon-list.mt40--mobile
          .container
            .row
              .col.col--full
                .section-name.section-name--centrify Выберите себе игру
                .icon-list__wrapper
                  a(href="#").icon-list__item
                    i.ico.ico-list-1
                    .icon-list__item__name для всей семьи
                    .icon-list__item__flip море эмоций от мала до велика
                  //next
                  a(href="#").icon-list__item
                    i.ico.ico-list-1
                    .icon-list__item__name простой
                    .icon-list__item__flip море эмоций от мала до велика
                  //next
                  a(href="#").icon-list__item
                    i.ico.ico-list-1
                    .icon-list__item__name средний
                    .icon-list__item__flip море эмоций от мала до велика
                  //next
                  a(href="#").icon-list__item
                    i.ico.ico-list-1
                    .icon-list__item__name сложный
                    .icon-list__item__flip море эмоций от мала до велика
                  //next
                  a(href="#").icon-list__item
                    i.ico.ico-list-1
                    .icon-list__item__name короткий
                    .icon-list__item__flip море эмоций от мала до велика
                  //next
                  a(href="#").icon-list__item
                    i.ico.ico-list-1
                    .icon-list__item__name длинный
                    .icon-list__item__flip море эмоций от мала до велика
                  //next
                  a(href="#").icon-list__item
                    i.ico.ico-list-1
                    .icon-list__item__name для 2х команд
                    .icon-list__item__flip море эмоций от мала до велика
                  //next
                  a(href="#").icon-list__item
                    i.ico.ico-list-1
                    .icon-list__item__name автоквест
                    .icon-list__item__flip море эмоций от мала до велика

        // GAME LIST
        .game-list
          .container
            .row.row--wrap.row--jcc--desktop
              .col.col--2-6.col--360--desktop
                .game-list__card
                  .game-list__card__chars
                    span короткий
                    span сложный
                    span автоквест
                    span для всей семьи
                  .game-list__card__image
                    img(src="images/game-list-img.png")
                  .game-list__card__fold
                    .game-list__card__name Привет с Бетельгейзе
                    .game-list__card__cta
                      .game-list__card__cta-left
                        i.ico.ico-location
                        span м. полянка
                      .game-list__card__cta-right
                        span 900
                          span.ruble Р
              // next card
              .col.col--2-6.col--360--desktop
                .game-list__card
                  .game-list__card__chars
                    span короткий
                    span сложный
                    span автоквест
                    span для всей семьи
                  .game-list__card__image
                    img(src="images/game-list-img.png")
                  .game-list__card__fold
                    .game-list__card__name Привет с Бетельгейзе
                    .game-list__card__cta
                      .game-list__card__cta-left
                        i.ico.ico-location
                        span м. полянка
                      .game-list__card__cta-right
                        span 900
                          span.ruble Р
              // next card
              .col.col--2-6.col--360--desktop
                .game-list__card
                  .game-list__card__chars
                    span короткий
                    span сложный
                    span автоквест
                    span для всей семьи
                  .game-list__card__image
                    img(src="images/game-list-img.png")
                  .game-list__card__fold
                    .game-list__card__name Привет с Бетельгейзе
                    .game-list__card__cta
                      .game-list__card__cta-left
                        i.ico.ico-location
                        span м. полянка
                      .game-list__card__cta-right
                        span 900
                          span.ruble Р
              // next card
              .col.col--2-6.col--360--desktop
                .game-list__card
                  .game-list__card__chars
                    span короткий
                    span сложный
                    span автоквест
                    span для всей семьи
                  .game-list__card__image
                    img(src="images/game-list-img.png")
                  .game-list__card__fold
                    .game-list__card__name Привет с Бетельгейзе
                    .game-list__card__cta
                      .game-list__card__cta-left
                        i.ico.ico-location
                        span м. полянка
                      .game-list__card__cta-right
                        span 900
                          span.ruble Р
              // next card
              .col.col--2-6.hidden-desktop-down
                .game-list__card
                  .game-list__card__chars
                    span короткий
                    span сложный
                    span автоквест
                    span для всей семьи
                  .game-list__card__image
                    img(src="images/game-list-img.png")
                  .game-list__card__fold
                    .game-list__card__name Привет с Бетельгейзе
                    .game-list__card__cta
                      .game-list__card__cta-left
                        i.ico.ico-location
                        span м. полянка
                      .game-list__card__cta-right
                        span 900
                          span.ruble Р
            .row.mt20.mt50--desktop.mt20--mobile
              .col.col--full.text-center
                a(href="#").btn.btn--primary.btn--min-width все игры

        // HOW IT WORKS
        .how-it-works
          .container
            .section-name.section-name--centrify Как это работает?
            .row.row--condenced.row--wrap--desktop.row--jcc--desktop.mt30
              .col.col--1-4.col--640--desktop
                .how-it-works__visible
                  .how-it-works__image
                    img(src="images/how-it-works-1.jpg")
                  .how-it-works__desc
                    span 01
                    | Выберите игру по вкусу
                .how-it-works__hidden
                  span В каждом квесте есть главная игровая цель: спастись от эпидемии смертельного вируса, вспомнить своё имя или помочь инопланетной девочке вернуться домой. Достичь цели можно разными способами, и несколько раз за игру вам придётся сделать судьбоносный выбор. <br> От принятых вашей командой решений зависит концовка игры.
              //col
              .col.col--1-4.col--640--desktop
                .how-it-works__visible
                  .how-it-works__desc
                    span 02
                    | Приезжайте на место старта <br> и сразу начинайте игру
                  .how-it-works__image
                    img(src="images/how-it-works-2.jpg")
                .how-it-works__hidden
                    span В каждом квесте есть главная игровая цель: спастись от эпидемии смертельного вируса, вспомнить своё имя или помочь инопланетной девочке вернуться домой. Достичь цели можно разными способами, и несколько раз за игру вам придётся сделать судьбоносный выбор. <br> От принятых вашей командой решений зависит концовка игры.
              //col
              .col.col--1-4.col--640--desktop
                .how-it-works__visible
                  .how-it-works__image
                    img(src="images/how-it-works-3.jpg")
                  .how-it-works__desc
                    span 03
                    | Играйте
                .how-it-works__hidden
                    span В каждом квесте есть главная игровая цель: спастись от эпидемии смертельного вируса, вспомнить своё имя или помочь инопланетной девочке вернуться домой. Достичь цели можно разными способами, и несколько раз за игру вам придётся сделать судьбоносный выбор. <br> От принятых вашей командой решений зависит концовка игры.
              //col
              .col.col--1-4.col--640--desktop
                .how-it-works__visible
                  .how-it-works__desc
                    span 04
                    | Раскройте один из финалов игры
                  .how-it-works__image
                    img(src="images/how-it-works-4.jpg")
                .how-it-works__hidden
                  span В каждом квесте есть главная игровая цель: спастись от эпидемии смертельного вируса, вспомнить своё имя или помочь инопланетной девочке вернуться домой. Достичь цели можно разными способами, и несколько раз за игру вам придётся сделать судьбоносный выбор. <br> От принятых вашей командой решений зависит концовка игры.
            .row.mt40.mt80--desktop.mt20--mobile
              .col.col--full.text-center
                .btn-group
                  a(href="#").btn.btn--primary.btn--min-width узнать больше
                  a(href="#").btn.btn--primary.btn--min-width пройти тюториал
                  a(href="#").btn.btn--primary.btn--min-width выбрать игру

        // HEADING
        .heading.heading--less-m
          .container
            .row
              .col.col--4-6.col--auto--desktop.col--grow--desktop.offset--1-6.offset--10--desktop
                .heading__front Большая Игра
                .heading__desc — это мероприятие-квест, на котором классный сюжет и удобство мобильной системы превращаются в массовое городское помешательство. На старте каждая команда получает игровой пакет с картами и схемами, которые понадобятся во время игры, а в городе участников ждут агенты и реквизит. Параллельно играет несколько десятков команд, и никто не уйдёт без награды!

        // NUMBERS
        .numbers
          .container
            .numbers__wrapper
              .numbers__card
                .numbers__card__number 100
                .numbers__card__name команд
              .numbers__card
                .numbers__card__number 2,5
                .numbers__card__name часа игры
              .numbers__card
                .numbers__card__number 16
                .numbers__card__name вариантов финала
              .numbers__card
                .numbers__card__number 20
                .numbers__card__name организаторов
              .numbers__card
                .numbers__card__number 12
                .numbers__card__name кг полиграфии

        .cta-text
          .container
            .row
              .col.col--full.text-center
                .cta-text__top Ловите момент! У вас только один шанс:
                .cta-text__bottom  Большие Игры не повторяются!

        // CALENDAR
        .calendar
          .container
            .row
              .col.col--4-6.col--full--desktop
                .calendar__title Следующая Большая Игра
            .row.row--wrap--desktop
              .col.col--4-6.col--full--desktop
                img(src='images/calendar-img@2x.png')
                p Щенок шестилетней Насти превратился в плюшевого, вместо Андрея в зеркале отражается брат-близнец, муж Ольги за ночь отрастил шикарную бороду, а Пётр уже неделю никак не может выспаться. Казалось бы, этим людям стоит посетить доктора. Но команда детективов уверена: здесь всё не так просто.
              .col.col--2-6.col--450--desktop.col--auto-m--desktop
                .calendar__input
                  input(type='text')#inputCalendar
                  .calendar__input__context
                    .calendar__input__selected-row
                      .calendar__input__selected-day 21 <span>сентября</span>
                      .calendar__input__selected-weekday воскресенье
                    .calendar__input__selected-time
                      i.ico.ico-message-fly
                      span 11:00-13:00
                .text-center.mt60.mt20--mobile
                  a(href="#").btn.btn--primary.btn--min-width Подробнее

        // BENEFITS
        .benefits
          .container
            .text-center
              .section-name.section-name--small Наши преимущества!
            .row
              .col.col--full
                .owl-carousel.owl-carousel--numberic-dots#owlMainpageBenefits
                  .benefits__slide
                    .benefits__slide__image
                      img(src="images/benefit-girl@2x.png")
                    .benefits__slide__content
                      i.ico.ico-quote
                      .benefits__slide__title
                        span Интересные задания
                      .benefits__slide__text Для решения наших задачек нужны не только умение ориентироваться в городе, но и наблюдательность и логическое мышление. Никаких «пустых» головоломок: каждое задание связано с сюжетом и приближает вас к цели
                  // slide
                  .benefits__slide
                    .benefits__slide__image
                      img(src="images/benefit-girl@2x.png")
                    .benefits__slide__content
                      i.ico.ico-quote
                      .benefits__slide__title
                        span Интересные задания
                      .benefits__slide__text Для решения наших задачек нужны не только умение ориентироваться в городе, но и наблюдательность и логическое мышление. Никаких «пустых» головоломок: каждое задание связано с сюжетом и приближает вас к цели
                  // slide
                  .benefits__slide
                    .benefits__slide__image
                      img(src="images/benefit-girl@2x.png")
                    .benefits__slide__content
                      i.ico.ico-quote
                      .benefits__slide__title
                        span Интересные задания
                      .benefits__slide__text Для решения наших задачек нужны не только умение ориентироваться в городе, но и наблюдательность и логическое мышление. Никаких «пустых» головоломок: каждое задание связано с сюжетом и приближает вас к цели
                  // slide
                  .benefits__slide
                    .benefits__slide__image
                      img(src="images/benefit-girl@2x.png")
                    .benefits__slide__content
                      i.ico.ico-quote
                      .benefits__slide__title
                        span Интересные задания
                      .benefits__slide__text Для решения наших задачек нужны не только умение ориентироваться в городе, но и наблюдательность и логическое мышление. Никаких «пустых» головоломок: каждое задание связано с сюжетом и приближает вас к цели
                  // slide
                  .benefits__slide
                    .benefits__slide__image
                      img(src="images/benefit-girl@2x.png")
                    .benefits__slide__content
                      i.ico.ico-quote
                      .benefits__slide__title
                        span Интересные задания
                      .benefits__slide__text Для решения наших задачек нужны не только умение ориентироваться в городе, но и наблюдательность и логическое мышление. Никаких «пустых» головоломок: каждое задание связано с сюжетом и приближает вас к цели

            .row.mt70.mt40--mobile
              .col.col--full
                .text-center
                  a(href="#").btn.btn--primary.btn--min-width выбрать игру

        // Testimonials
        .testimonials.testimonials--mainpage
          .container
            .row
              .col.col--full
                .testimonials__title Вот что думают наши игроки

            .row
              .col.col--full
                .owl-carousel.owl-carousel--controlls-l-to-r#owlTestimonials
                  .testimonials__card
                    .testimonials__card__image
                      img(src="images/testimonialsPic1@2x.png")
                    .testimonials__card__name Каролина
                    .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки.
                    a(href='#') Ссылка...
                  // card
                  .testimonials__card
                    .testimonials__card__image
                      img(src="images/testimonialsPic1@2x.png")
                    .testimonials__card__name Тимур
                    .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки. Жаль что больше нету таких квестов
                    a(href='#') Ссылка...
                  // card
                  .testimonials__card
                    .testimonials__card__image
                      img(src="images/testimonialsPic1@2x.png")
                    .testimonials__card__name Анна
                    .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились.
                    a(href='#') Ссылка...
                  // card
                  .testimonials__card
                    .testimonials__card__image
                      img(src="images/testimonialsPic1@2x.png")
                    .testimonials__card__name Тимур
                    .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки.
                    a(href='#') Ссылка...

        // QUESTION
        .question
          .container
            .row.row--jcc
              .col.col--4-6.col--full--desktop
                .question__title Что-то до сих пор осталось непонятным? <br> Задайте свой вопрос!
                .question__form__thanks Спасибо! Заявка отправлена<br> Мы свяжемся с вами очень скоро
                form(action="").question__form
                  .row.row--mobile
                    .col.col--3-6
                      textarea.ui-input(placeholder="ВАШ ВОПРОС" rows="7")
                    .col.col--3-6
                      input(type="text" placeholder="Ваше имя").ui-input
                      input(type="email" placeholder="Email").ui-input
                      a(href="#").btn.btn--primary.btn--block.btn--no-skew-hover ОТПРАВИТЬ

      include shared/footer.pug
