doctype html
html
  include shared/head.pug

  body
    .page
      include shared/header.pug
      .page__content
        // HEADING
        .testimonials
          .container
            .row
              .col.col--full
                .testimonials__title Вот что думают наши игроки

            .row
              .col.col--full
                .hidden-desktop-down.owl-carousel.owl-carousel--controlls-l-to-r--wide#owlTestimonials
                  .testimonials__card
                    .testimonials__card__image
                      img(src="images/testimonialsPic1@2x.png")
                    .testimonials__card__name Каролина
                    .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки.
                    a(href='#') Ссылка...
                  // card
                  .testimonials__card
                    .testimonials__card__image
                      img(src="images/testimonialsPic1@2x.png")
                    .testimonials__card__name Тимур
                    .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки. Жаль что больше нету таких квестов
                    a(href='#') Ссылка...
                  // card
                  .testimonials__card
                    .testimonials__card__image
                      img(src="images/testimonialsPic1@2x.png")
                    .testimonials__card__name Анна
                    .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились.
                    a(href='#') Ссылка...
                  // card
                  .testimonials__card
                    .testimonials__card__image
                      img(src="images/testimonialsPic1@2x.png")
                    .testimonials__card__name Тимур
                    .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки.
                    a(href='#') Ссылка...
                    
                .visible-desktop-down
                  .testimonials__mobile-wrapper
                    .testimonials__card
                      .testimonials__card__image
                        img(src="images/testimonialsPic1@2x.png")
                      .testimonials__card__name Каролина
                      .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки.
                      a(href='#') Ссылка...
                    // card
                    .testimonials__card
                      .testimonials__card__image
                        img(src="images/testimonialsPic1@2x.png")
                      .testimonials__card__name Тимур
                      .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки. Жаль что больше нету таких квестов
                      a(href='#') Ссылка...
                    // card
                    .testimonials__card
                      .testimonials__card__image
                        img(src="images/testimonialsPic1@2x.png")
                      .testimonials__card__name Анна
                      .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились.
                      a(href='#') Ссылка...
                    // card
                    .testimonials__card
                      .testimonials__card__image
                        img(src="images/testimonialsPic1@2x.png")
                      .testimonials__card__name Тимур
                      .testimonials__card__content Были на квесте про инопланетян. Очень понравилось! Некоторые задания сложноваты для десятилетки, но старший помог, со всем справились. В музеоне заблудились. Очень приятные рисуночки, после квеста прислали заготовку для открытки.
                      a(href='#') Ссылка...
                        


      include shared/footer.pug
