//HEADING
.heading
  text-align: center
  margin-top: 90px
  margin-bottom: 90px
  &__front
    font-family: 'Neo-Light'
    font-size: 44px
  &__desc
    margin-top: 10px
    font-size: 22px

.section-name
  font-size: 32px
  color: #6c6352
  &--centrify
    text-align: center
